# Dependencies
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Build and dist folders
dist/
build/
coverage/

# System and editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Temporary files
*.tmp
